In [3]:
# import functions needed
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [8]:
ex = np.loadtxt("aravg.mon.land_ocean.60N.90N.v5.0.0.202112.asc")
ex

array([[ 1.880000e+03,  1.000000e+00, -2.676460e-01, ...,  1.350910e+00,
         8.766690e-01,  4.742410e-01],
       [ 1.880000e+03,  2.000000e+00,  4.748200e-02, ...,  1.273497e+00,
         7.647160e-01,  5.087810e-01],
       [ 1.880000e+03,  3.000000e+00, -3.750980e-01, ...,  8.477230e-01,
         5.495000e-01,  2.982230e-01],
       ...,
       [ 2.021000e+03,  1.000000e+01,  2.157356e+00, ...,  6.230700e-01,
         3.040080e-01,  3.190620e-01],
       [ 2.021000e+03,  1.100000e+01,  1.730800e+00, ...,  9.771380e-01,
         5.148340e-01,  4.623040e-01],
       [ 2.021000e+03,  1.200000e+01,  3.585190e-01, ...,  7.243240e-01,
         7.094580e-01,  1.500000e-02]])

In [10]:
## select the time period to look at, including the indices needed to subset the data
nyrs = 141                    # number of years, 141 will have you end in 2020
ind_months_start = 70*12;     # month index to start.  

## Note: since python is 0 based, selecting 0 gives you the index for 
  ##the first value in the dataset (January 1880)
ind_months_end   = nyrs*12;   # month index to end.
lst = ['aravg.mon.land_ocean.60N.90N.v5.0.0.202112.asc'].decode(encoding="utf-8", errors="strict").split('\n');
### open a Pandas data frame called "d" with the data only in the time period we selected above
d   = pd.Series(lst).str.split(expand=True).astype(float)[ind_months_start:ind_months_end];
d

AttributeError: 'list' object has no attribute 'decode'